{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<h1 class="centered">{% trans "Sign Out" %}</h1>

<p class="centered">{% trans 'Are you sure you want to sign out of Cockapoo Club?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button name="logout" class = "join-button" type="submit">{% trans 'Yes, I want to Sign Out' %}</button>
</form>

  <script type="text/javascript">
    (function() {
      var message = "{% trans 'Are you sure you want to sign out of Cockapoo Club?' %}";
      var actions = document.getElementsByName("logout");
      if (actions.length) {
        actions[0].addEventListener("click", function(e) {
          if (! confirm(message)) {
            e.preventDefault();
          }
        });
      }
    })();
  </script>
{% endblock %}
