{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}
    
    
    <h1>Welcome to the Cockapoo Club booking session page</h1>

    <p>
      To book your training session complete the form
    </p>

    <!-- {% crispy form %}
    <button type="submit">Submit</button> -->

    <form action = "" method="POST">
        {% csrf_token %}
      
        {{ form|crispy }}
        
        
        <script>
          $(function () {
            $("#id_booking_date_time").datetimepicker({
              format: 'd/m/Y H:i',
            });
          });
        </script>

        <!-- <script>
          $(function () {
            $("#div_id_booking_date_time").session_type
            });
        </script> -->

        <button class="join-button" type="submit" value="submit">Submit</button>
      </form>

      <!-- <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div> -->
  
      <!-- <script>
        $(function () {
          $("#datetimepicker1").datetimepicker();
        });
      </script> -->


{%endblock%}

<!-- <button class="primaryAction btn btn-primary", type="submit" value="submit">Submit</button> -->