{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}
    
    
  <h1>Welcome to the Cockapoo Club booking session page</h1>

    <p>
      To book your training session complete the form
    </p>

    <!-- {% crispy form %}
    <button type="submit">Submit</button> -->

  <form action = "" method="POST">
   {% csrf_token %}
      
   {{ form|crispy }}
        
        
        <script>
          $(function () {
            $("#id_booking_date_time").datetimepicker({
              format: 'd/m/Y H:i',
            });
          });
        </script>

    <button class="join-button" type="submit" value="submit">Submit</button>
  </form>

  {% for booking in existing_bookings %}
  <div>
    <div>{{booking.session_type}}</div>
    <div>{{booking.booking_date_time}}</div>
    <button><a href="/booking/{{booking.id}}">Reschedule</a></button>
    <button onclick="return confirm('Are you sure you want to cancel your dog training session?')"><a href="/booking/delete/{{booking.id}}">Cancel</a></button>
</div>

{% endfor %}

{%endblock%}
