{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}
    
    
    <h1>Success! Your booking details have been submitted</h1>

    <div>Session Type: {{ booking.session_type }}</div>
    <div>Booking time: {{ booking.booking_date_time }}</div>

    {% if booking.confirmed %}
    <span>Booking confirmed</span>
    {% else %}
    <span>Booking not confirmed yet</span>
    {% endif %}
    <button>Reschedule</button>
    <button>Cancel booking</button>
    <!-- <div>Booking detail 3: {{ booking.first_name }}</div>
    <div>Booking detail 4: {{ booking.last_name }}</div>
    <div>Booking detail 5: {{ booking.email }}</div>
    <div>Booking detail 6: {{ booking.phone }}</div>
    <div>Booking detail 7: {{ booking.time }}</div>
    <div>Booking detail 8: {{ booking.date }}</div> -->


{%endblock%}