{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}
    
    
    <h1>Success! Your booking details have been submitted</h1>

    <div>Booking detail 1: {{ booking.title }}</div>
    <div>Booking detail 2: {{ booking.slug }}</div>
    <!-- <div>Booking detail 3: {{ booking.first_name }}</div>
    <div>Booking detail 4: {{ booking.last_name }}</div>
    <div>Booking detail 5: {{ booking.email }}</div>
    <div>Booking detail 6: {{ booking.phone }}</div>
    <div>Booking detail 7: {{ booking.time }}</div>
    <div>Booking detail 8: {{ booking.date }}</div> -->


{%endblock%}