{% extends "base.html" %}
{% block content %}
<div class="new-page-intro">
  <div id="jump-to-fffg">
    <h2 class="main-sections" id="furry-fun">
      Furry Fun Foto Gallery
    </h2>
  </div>
</div>
<div class="gallery-container">
  <div class="gallery-box">
    <div class="gallery-row">
      <img src="https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254218/CockapooClub/girl-playing-with-dog-on-grass_tydjpc.webp" alt="girl playing with dog on grass" id="girl-on-grass">
      <img src="https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254218/CockapooClub/dog-standing-in-shamrocks_cgwyen.webp" alt="dog standing in shamrocks">
      <img src="https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254217/CockapooClub/brown-puppy_tzxcov.webp" alt="brown puppy licking his lips">
    </div>
    <div class="gallery-row">
      <img src="https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254218/CockapooClub/Benjiline1_qrxkoe.webp" alt="woman and dog in the sun">
      <img src="https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254218/CockapooClub/Girl-running-on-beach-with-dog.png_qovfss.webp" alt="girl running with dog on beach" id="girl-on-beach">
      <img src="https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254219/CockapooClub/highvisBenji_psxf21.webp" alt="dog in high visibility jacket">
    </div>
    <div class="gallery-row">
      <img src="https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254218/CockapooClub/Dog-in-backseat-of-car_uhokml.webp" alt="dog in backseat of car">
      <img src="https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254217/CockapooClub/blonde-puppy_tos0vg.webp" alt="yellow puppy looking up">
      <img src="https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254218/CockapooClub/dog-in-house-covered-in-snow_cpqmxi.webp" alt="dog in house covered in snow">
    </div>
  </div>
</div>
<div>
  <a href="#top" class="join-button">Back to top
  </a>
</div>
{%endblock%}