{% extends "base.html" %}

{% block content %}

<div>
    <div class="new-page-intro">
       <div id="jump-to-kyph">
          <h2 class="main-sections" id="keep-your-poo-healthy">
             Keep Your Poo Healthy
          </h2>
       </div>
    </div>
 </div>

    <div class="container-new-cockaparents">
       <h3 class="new-page-intro">A healthy Poo is a happy Poo, and a happy Poo means a happy you too!</h3>
       <div class="new-cockaparents-text">
          <p>
             While cockapoos tend to be hardy dogs, who will stay healthy and happy with enough excercise and a good diet, they can be prone to the same genetic predispositions to health conditions that affect either of their parent breeds.
             This can include cataracts, patellar luxation, hip dysplasia, allergies and liver disease. 
             <br>
             When considering a Cockapoo puppy, it's important to do your research and find a reputable breeder who is happy to answer any questions you have about the parents and their health status.
             Cockapoos do well in apartments, although larger Cockapoos may be less well-suited for small living spaces than their smaller counterparts. 
             They have a moderate to high amount of energy and can be quite bouncy, but they're also happy to curl up in your lap or next to you on the couch and watch your favourite tv series with you. 
             They generally require about 15 minutes of exercise a day, which can be achieved by playing in the backyard or with a walk around the block.
          </p>
       </div>
       <p class="new-page-intro">
          General things to be aware of:
       </p>
       <div class="new-cockaparents-text-second-section">
          <p>
             Although their coats don't require regular cutting like a Poodle's does, they do need to be brushed regularly. 
             Their floppy ears are prone to infections and so should be cleaned and inspected on a weekly basis. 
             Signs of an ear infection include an unpleasant odor coming from the ear, redness or swelling, itching, and constant head shaking.
             <br>
             Their food is important too and they can be fussy eaters. There are many good brands of food made specifically for  <span class="furry-fun-fotos-join"><a href="https://en.wikipedia.org/wiki/Poodle#Size_varieties" aria-label="Visit Wikipedia for more information" target="_blank">Poodles</a></span>,  <span class="furry-fun-fotos-join"><a href="https://en.wikipedia.org/wiki/Cocker_Spaniel" aria-label="Visit Wikipedia for more information" target="_blank">Cocker Spaniels</a></span> and other smaller dogs
             that will keep them nourished. Our advise is to ask your vet what they recommend.   
          </p>
       </div>
       <div id="video">
          <iframe src="https://www.youtube.com/embed/Fe-sa9mHcxI" title="YouTube video player" allowfullscreen></iframe>
       </div>
       <div class="keep-your-poo-healthy-text">
          <p>
             For more information <span class="furry-fun-fotos-join"><a href="https://www.hillspet.com/dog-care/dog-breeds/cockapoo" aria-label="Visit the hillspet website to learn more about Cockapoos" target="_blank">Click Here</a></span> 
          </p>
       </div>
    </div>
    <div>
       <a href="#top" class="join-button">Back to top</a>
    </div>
 

{%endblock%}