{% extends "base.html" %}

{% block content %}

<div class="new-page-intro">
    <div id="jump-to-nc">
       <h2 class="main-sections" id="new-cockaparents">
          New Cockaparents
       </h2>
    </div>
 </div>

 <div class="container-new-cockaparents">
    <h3 class="new-page-intro">
       So, you got yourself a Cockapoo. What an exciting decision!
    </h3>
    <div class="new-cockaparents-text">
       <p>
          <span class="furry-fun-fotos-join"><a href="https://en.wikipedia.org/wiki/Cockapoo" target="_blank">Cockapoos</a></span> (also known as 'Cockerdoodles' or 'Spoodles') are a lively medium-sized dog with a lot of energy.
          On the outside those teddy bear looks make them appear to be incredibly sweet and fluffy,  and yes they are that too, but do not be fooled; they are super busy dogs
          who will find lots of trouble if their inquisitive nature is not properly channelled!
          <br>
          If you are still considering getting a Cockapoo and are unsure about how to do so, Cockapoo Club can help. Our advice is to first ask your veterinary practitioner if they know any reputable breeders,
          or contact the <span id=furry-fun-fotos-join><a href="https://www.ikc.ie/" target="_blank">Irish Kennel Club</a></span> for advice. The Irish Kennel Club can also direct you to breed rescue organisations. Check with the Kennel Club that the breeder is an Irish Kennel Club Assured Breeder before purchasing a puppy.
          <br>
          It is always better to rescue or rehome any dog, so make sure you contact your nearest dog pound or rescue centre. The Irish Society for the Prevention of Cruelty to Animals <span class="furry-fun-fotos-join">(<a href="https://www.ispca.ie/news/detail/thinking_of_getting_a_new_puppy_here_is_what_you_need_to_know">ISPCA</a>)</span>
          recommends adopting a puppy from your local rescue centre or dog pound. There are so many dogs of all breeds looking for responsible homes where they will be happy and cared for, for the rest of their lives. 
          <br>
          Your new Cockapoo will require training like all dogs, but also because they are a mix of two working breeds, the <span class="furry-fun-fotos-join"><a href="https://en.wikipedia.org/wiki/Cocker_Spaniel" aria-label="Visit Wikipedia for more information" target="_blank">Cocker Spaniel</a></span> and the <span class="furry-fun-fotos-join"><a href="https://en.wikipedia.org/wiki/Poodle#Size_varieties" aria-label="Visit Wikipedia for more information" target="_blank">Poodle</a></span>. 
          You can start to train your Cockapoo puppy as soon as you get them home. Cockapoos are super smart and are always learning, so start by simply rewarding them with treats, 
          play and praise when they do the right thing
       </p>
    </div>
    <p class="new-page-intro">To have the most fun with your new best friend, it is a good idea to master the following areas:</p>
    <div class="new-cockaparents-text-second-section">
       <ul>
          <li>Sitting</li>
          <li>Lying down</li>
          <li>Learning their name</li>
          <li>Coming when you call them</li>
          <li>Walking nicely on a lead</li>
          <li>Playing fetch</li>
          <li>Sleeping in their crate</li>
          <li>Coping with being left alone</li>
          <li>Going to the toilet in the right place</li>
       </ul>
    </div>
    <div class="keep-your-poo-healthy-text">
       <p>For more information and tips on training your new Cockapoo<span class="furry-fun-fotos-join"><a href="https://zigzag.dog/guide-how-to-train-cockapoo-puppy/" target="_blank"> Click Here</a></span> 
          <br>
          For a comprehensive list of Frequently Asked Questions for New Cockaparents <span class="furry-fun-fotos-join"><a href="https://www.hillspet.com/new-pet-parent/dog#faqs" target="_blank">Click Here</a></span> 
       </p>
    </div>
 </div>
 <div>
    <a href="#top" class="join-button">Back to top</a>
 </div>

{%endblock%}